nav {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.item1 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.item2 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.item3 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.dropdown {
    background-color: aliceblue;

}

.brand-name {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}

.logoimg {
    height: 40px;
    width: 40px;
    border-radius: 2px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
}


.navbtn {
    margin-left: 20px;
    height: 40px;
    width: 60px;
    font: none;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    border-radius: 5px;
    background-color: #E5E4E2;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.navbtn:hover {
    background-color: #8D7490;
    color: white;
}

.contactbtn {
    margin-left: 20px;
    height: 40px;
    width: 150px;
    font: none;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    border-radius: 5px;
    background-color: #E5E4E2;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.contactbtn:hover {
    background-color: #8D7490;
    color: white;
}

.loginbtn {
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    width: 150px;
    font: none;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    border-radius: 5px;
    background-color: #E5E4E2;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.loginbtn:hover {
    background-color: #8D7490;
    color: white;
}
.f1 {
    background-color: black;
    margin: 0px;
    overflow-x: hidden;
}
.copyrightline {
    text-align: center;
    font-size: 15px;
    font-style: normal;
    color: whitesmoke;
    margin: 0px;
}
body{
    overflow-x: hidden;
    background-color: #28004d;
}
.appointmentheading{
    text-align: center;
    font-family: serif;
    color: whitesmoke;
    text-decoration: underline;
    text-transform: capitalize;
    overflow-x: hidden;
}
.listh{
    color: white;
    overflow-x: hidden;
}
.col1{
    margin-left: auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid black;
    overflow-x: hidden;
    width: 80%;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px #ce99ff;
}

.name{
    margin-left: 50px;
    font-size: 20px;
    color: darkred;
    font-family: cursive;
    text-align: center;
}
.name:hover{
    margin-left: 50px;
    font-size: 20px;
    color: darkred;
    font-family: cursive;
}