nav {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.item1 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.item2 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.item3 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.dropdown {
    background-color: aliceblue;

}

.brand-name {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}

.logoimg {
    height: 40px;
    width: 40px;
    border-radius: 2px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
}


.navbtn {
    margin-left: 20px;
    height: 40px;
    width: 60px;
    font: none;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    border-radius: 5px;
    background-color: #E5E4E2;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.navbtn:hover {
    background-color: #8D7490;
    color: white;
}

.contactbtn {
    margin-left: 20px;
    height: 40px;
    width: 150px;
    font: none;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    border-radius: 5px;
    background-color: #E5E4E2;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.contactbtn:hover {
    background-color: #8D7490;
    color: white;
}

.loginbtn {
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    width: 150px;
    font: none;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    border-radius: 5px;
    background-color: #E5E4E2;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.loginbtn:hover {
    background-color: #8D7490;
    color: white;
}
.f1 {
    background-color: black;
    margin: 0px;
    overflow-x: hidden;
}
.copyrightline {
    text-align: center;
    font-size: 15px;
    font-style: normal;
    color: whitesmoke;
    margin-bottom: 0px;
}
body{
    background-color: ghostwhite;
    overflow-x: hidden;
}
.c2{
    background-color: darkgoldenrod;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border: 2px dotted black;
    box-shadow: 0 0 16px 3px black ;
    margin-bottom: 20px;
}
.col1{
    background-color: darkgoldenrod;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 16px 3px pink ;
}

.col2{
    background-color: darkgoldenrod;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 16px 3px pink ;
}

.col3{
    background-color: darkgoldenrod;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 16px 3px pink ;
}

.adddoctor{
    text-align: center;
    color: white;
    font-family: sans-serif;
    text-decoration: underline;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 30px;
}
form{
    margin-top: 10px;
}
.form-control{
    border: none;
}
.submit{
    height: 40px;
    width: 200px;
    background-color: darkslateblue;
    color: white;
    text-align: center;
    font-family: sans-serif;
    border: none;
    border-radius: 5px;    
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 30%;
}
.c3{
    background-color: darkblue;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border: 2px dotted black;
    box-shadow: 0 0 16px 3px black ;
    margin-bottom: 20px;
        
}


.col4{
    background-color: skyblue;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    height: 30px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info{
    text-align: center;
    text-transform: capitalize;
    margin: 0px;
    font-size: 25px;
    font-family: serif;
    color: darkred;
}

.delete{
    height: 30px;
    width: 200px;
    background-color: darkred;
    color: white;
    text-align: center;
    font-family: sans-serif;
    border: none;
    border-radius: 5px;    
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col5{
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    height: 30px;
    padding: 0px;
}

.vj{
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}