nav {
    background-color: black;
    margin: 0;
    padding: 0;

}

.item1 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.item2 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.item3 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.dropdown {
    background-color: aliceblue;

}

.brand-name {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}

.logoimg {
    height: 40px;
    width: 40px;
    border-radius: 2px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
}

.searchbar {
    margin-left: 20px;
    height: 40px;
    border-radius: 5px;
    font: none;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    border-radius: 5px;
    background-color: #E5E4E2;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.searchbar:hover {
    background-color: #8D7490;
    color: white;
}

.navbtn {
    margin-left: 20px;
    height: 40px;
    width: 60px;
    font: none;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    border-radius: 5px;
    background-color: #E5E4E2;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.navbtn:hover {
    background-color: #8D7490;
    color: white;
}

.contactbtn {
    margin-left: 20px;
    height: 40px;
    width: 100px;
    font: none;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    border-radius: 5px;
    background-color: #E5E4E2;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.contactbtn:hover {
    background-color: #8D7490;
    color: white;
}

.loginbtn {
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    width: 100px;
    font: none;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    border-radius: 5px;
    background-color: #E5E4E2;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.loginbtn:hover {
    background-color: #8D7490;
    color: white;
}

.signbtn {
    margin-left: 20px;
    height: 40px;
    width: 100px;
    font: none;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    border-radius: 5px;
    background-color: #E5E4E2;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.signbtn:hover {
    background-color: #8D7490;
    color: white;
}


/*login form*/
.maincontainer{
    text-align: center;
    background: linear-gradient(rgba(0, 0, 100, 0.6), rgba(0, 0, 100, 0.6)), url(bg/log_in.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
}
.contactform {
margin-top: 5% ;
margin-bottom: 50%;
}
.contact-form {
    margin-left: 0;
}

.loginline{
    font-size: 80px;
    font-family: cursive;
    color: white;
    margin-bottom: 50px;
    font-style: italic;
}
.logintag{
    font-size: 20px;
    font-style: italic;
    color: white;
    margin-bottom: 50px;
}
.form-control {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
    margin-bottom: 50px;
}
input {
    height: 45px;
}
.submit {
    background-color: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    width: 200px;
    border-radius: 50%;
}
.submit:hover {
    background-color: blue;
    cursor: pointer;
}
/*footer*/
.f1 {
    background-color: black;
}

.infomationtag {
    text-align: center;
    color: darkgrey;
    font-size: 20px;
    font-style: italic;
    text-transform: capitalize;
}

.ourservicesheader {
    text-align: left;
    color: darkgray;
    font-size: 18px;
    font-style: italic;
    text-transform: capitalize;
    margin-top: 10px;
}

.ourservicesparagraph {
    font-size: 15px;
    color: darkgray;
    margin-top: 10px;
}

.copyrightline {
    text-align: center;
    font-size: 15px;
    font-style: normal;
    color: whitesmoke;
    margin-top: 20px;
}
